<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.rollin.mapper.RecordAccountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.rollin.bean.model.RecordAccountDO">
        <id column="record_account_id" property="recordAccountId" />
        <result column="bill_money" property="billMoney" />
        <result column="classify_id" property="classifyId" />
        <result column="classify_name" property="classifyName" />
        <result column="classify_type" property="classifyType" />
        <result column="user_id" property="userId" />
        <result column="remark" property="remark" />
        <result column="record_time" property="recordTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        record_account_id, bill_money, classify_id, classify_name, classify_type, user_id, remark, record_time, update_time
    </sql>

</mapper>
