<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.rollin.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.rollin.bean.model.UserDO">
        <id column="user_id" property="userId" />
        <result column="user_name" property="userName" />
        <result column="password" property="password" />
        <result column="salt" property="salt" />
        <result column="personal_resume" property="personalResume" />
        <result column="state" property="state" />
        <result column="real_name" property="realName" />
        <result column="email" property="email" />
        <result column="mobile" property="mobile" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, user_name, password, salt, personal_resume, state, real_name, email, mobile, update_time
    </sql>

</mapper>
